
# frontend
FRONTEND/node_modules/
FRONTEND/.next/
FRONTEND/out/
FRONTEND/build/
FRONTEND/npm-debug.log*
FRONTEND/yarn-debug.log*
FRONTEND/yarn-error.log*
FRONTEND/.pnpm-debug.log*
FRONTEND/*.tsbuildinfo
FRONTEND/next-env.d.ts

# Backend 
API/__pycache__/
API/*.py[cod]
API/*$py.class
API/*.so
API/bin/
API/build/
API/develop-eggs/
API/dist/
API/downloads/
API/eggs/
API/.eggs/
API/lib/
API/lib64/
API/parts/
API/sdist/
API/var/
API/wheels/
API/share/python-wheels/
API/*.egg-info/
API/.installed.cfg
API/*.egg
API/MANIFEST
API/*.manifest
API/*.spec
API/pip-log.txt
API/pip-delete-this-directory.txt
API/htmlcov/
API/.tox/
API/.nox/
API/.coverage
API/.coverage.*
API/.cache
API/nosetests.xml
API/coverage.xml
API/*.cover
API/*.py,cover
API/.hypothesis/
API/.pytest_cache/
API/cover/
API/*.mo
API/*.pot
API/*.log
API/local_settings.py
API/db.sqlite3
API/db.sqlite3-journal
API/docs/_build/
API/.pybuilder/
API/target/
API/.ipynb_checkpoints
API/profile_default/
API/ipython_config.py
API/.pdm-plugins/
API/.pdm-build/
API/__pypackages__/
API/celerybeat-schedule
API/celerybeat.pid
API/*.sage.py
API/.venv/
API/env/
API/venv/
API/ENV/
API/env.bak/
API/venv.bak/
API/.spyderproject
API/.spyproject
API/.ropeproject
API/site
API/.mypy_cache/
API/.dmypy.json
API/dmypy.json
API/.pyre/
API/.pytype/
API/cython_debug/
API/database.db
API/database.db-journal

# Environment variables files (always ignore)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local
API/.env
FRONTEND/.env
FRONTEND/.env*.local

# MinIO data
API/minio/data/
